.img{
    height: 250px;
    width: 500px;
    align-items: center;
   


}
.img1{
    height: 400px;
    width: 400;
    align-items: center;

}
.img2{
    height: 400px;
    width: 400;
    align-items: center;

}
.div1{
    align-items: end;
    
}
